.word {
  cursor: pointer;
  flex: 1;
  padding: 5px 10px;
  margin: -10px 10px 10px -10px;
}

.word:hover {
  background-color: color($blue a(10%));
}

.wordMatch, .wordMatch:hover {

}

.case {
  font-weight: 700;
  margin-bottom: -5px;
}

.wordForm {
  font-size: 2.5rem;
}

.wordMatch {
  color: $blue;
}

.alternate .case {
  color: transparent;
}

.entries {
  display: flex;
  margin: 1em 0;
  flex-direction: column;
}

@media (min-width: 900px) {
  .root {
    font-size: 20px;
  }

  .headWord {
    font-size: 2.5rem;
  }

  .word {
    flex-direction: row;
  }

  .case {

  }

  .entries {
    flex-direction: row;
  }

  .entries.vertical {
    flex-direction: column;
  }
}
