* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Slab, serif;
  font-weight: 300;
  background-color: #fff;
  color: #555;
  margin: 20px;
}

.root {
  margin: 50px auto;
  max-width: 600px;
  font-size: 20px;
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
  font-family: inherit;
  font-size: 2pc;
  outline: 0;
  padding-bottom: 5px;
  transition: color .2s, border-color .2s;
  width: 100%;
  max-width: 600px;
  color: #555;
}

.currentTags {
  color: #8B999F;
  margin-bottom: .5em;
}

.links {
  display: flex;
  padding: 10px 0;
  width: 50%;
}

.link {
  color: #1976d2;
  border-bottom: 1px solid #1976d2;
  cursor: pointer;
  align-self: flex-end;
}

.linkCurrent {
  font-weight: 700;
  width: 150px;
}

.linkOther {

}

.columnEnd {
  align-self: flex-end;
  margin-left: 1em;
}

.word {
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding-left: 20px;
  margin-left: -20px;
}

.word:hover {
  background-color: #F0F5F7;
}

.wordMatch, .wordMatch:hover {
  background-color: #1976d2;
  color: white;
}

.case {
  font-weight: 700;
  flex: 0 0 50%;
}

.wordMatch .case {
  background-color: #1976d2;
}

.entries {
  margin: 1em 0;
}

.headWord {
  font-size: 48px;
}

.wordClass {
  margin-left: 1em;
}

.seeAlso {
  margin-top: 1em;
}

@media (min-width: 900px) {
  .linksSection {
    display: flex;
    justify-content: flex-end;
  }

  .word {
    margin-left: -220px;
  }

  .case {
    text-align: right;
    margin-right: 20px;
    flex: 0 0 200px;
  }

  .links {
    text-align: right;
  }

  .entries {
    margin-left: -20px;
  }
}
