.logo {
  background: no-repeat inline('../images/logo.svg');
  background-size: cover;
  width: width('../images/logo.svg', 1.5);
  height: height('../images/logo.svg', 1.5);
  margin-top: -7px;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .logo {
    width: width('../images/logo.svg');
    height: height('../images/logo.svg');
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
